@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* Navigation Bar */

.bar {
  height: 70px;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}

.bar a {
  text-decoration: none;
  color: white;
}

.bar h2 {
  font-size: 40px;
}

.bag {
  display: flex;
  align-items: center;
}

.bag-specification {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 75%;
  background: yellow;
  font-size: 14px;
  font-weight: 700;
  color: black;
  margin-left: 5px;
}

/* Page Error */

.page-does-not-exist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(60, 60, 60);
  min-height: 70vh;
}

.page-does-not-exist {
  font-size: 50px;
}

.page-does-not-exist p {
  font-size: 20px;
}

/* Home */

.container-for-home {
  padding: 2rem 4rem;
}

.container-for-home h2 {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}

.products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 15px;
  width: 250px;
  max-width: 100%;
  height: 400px;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5),
    2px 2px 5px rgba(94, 104, 121, 0.3);
}

.product h3 {
  font-size: 25px;
  font-weight: 400;
}

.product img {
  width: 80%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.product .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product .details .price {
  font-size: 20px;
  font-weight: 800;
}

.product button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin-top: 2rem;
  font-weight: 400;
  letter-spacing: 1.15px;
  background-color: #4b70e2;
  color: #f9f9f9;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Shopping Cart Details */

.container-for-cart {
  padding: 2rem 4rem;
}

.container-for-cart h2 {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}

.container-for-cart .product-titles {
  margin: 2rem 0 1rem 0;
}

.container-for-cart .product-titles h3 {
  font-size: 10px;
  font-weight: 200;
  text-transform: uppercase;
}

.cart-product-item,

.container-for-cart .product-titles {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  column-gap: 0.5rem;
}

.cart-product-item {
  border-top: 1px solid rgb(187, 187, 187);
  padding: 1rem 0;
}

.container-for-cart .product-titles .product-title {
  padding-left: 0.5rem;
}

.container-for-cart .product-titles .product-total {
  padding-right: 0.5rem;
  justify-self: right;
}

.cart-product-item .product-in-the-cart {
  display: flex;
}

.cart-product-item .product-in-the-cart img {
  width: 100px;
  max-width: 100%;
  margin-right: 1rem;
}

.cart-product-item .product-in-the-cart h3 {
  font-weight: 400;
}

.cart-product-item .product-in-the-cart button {
  border: none;
  outline: none;
  margin-top: 0.7rem;
  cursor: pointer;
  background: none;
  color: gray;
}

.cart-product-item .product-in-the-cart button:hover {
  color: black;
}

.cart-product-item .product-quantity-in-the-cart {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 130px;
  max-width: 100%;
  border: 0.5px solid rgb(177, 177, 177);
  border-radius: 7px;
}

.cart-product-item .product-quantity-in-the-cart button {
  border: none;
  outline: none;
  background: none;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
}

.cart-product-item .product-quantity-in-the-cart .counter {
  padding: 0.7rem 0;
}

.cart-product-item .total-price {
  padding-right: 0.5rem;
  justify-self: right;
  font-weight: 700;
}

/* Summary */

.summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid rgb(187, 187, 187);
  padding-top: 2rem;
}

.summary .clear-btn {
  width: 130px;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1.15px;
  border: 0.5px solid rgb(177, 177, 177);
  color: gray;
  background: none;
  outline: none;
  cursor: pointer;
}

.checkout {
  width: 270px;
  max-width: 100%;
}

.checkout .subtotal {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.checkout .amount {
  font-weight: 700;
}

.checkout p {
  font-size: 14px;
  font-weight: 200;
  margin: 0.5rem 0;
}

.checkout button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1.15px;
  background-color: #4b70e2;
  color: #f9f9f9;
  border: none;
  outline: none;
  cursor: pointer;
}

.continue,
.start {
  margin-top: 1rem;
}

.continue a,
.start a {
  color: gray;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.continue a span,
.start a span {
  margin-left: 0.5rem;
}

.empty {
  font-size: 20px;
  margin-top: 2rem;
  color: rgb(84, 84, 84);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Success */

.thank-you {
  padding: 2rem 4rem;
}

.thank-you h2 {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}
